---
import AnimationLink from "../components/AnimationLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "404";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="min-h-[calc(100vh-200px)] flex flex-col items-center justify-center">
    <h1 class="text-4xl font-bold mb-4">404 Not Found</h1>
    <p class="text-lg mb-8">お探しのページが見つかりませんでした。</p>
    <AnimationLink text="トップページへ戻る" href="/" />
  </div>
</BaseLayout>