---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md')
const pageTitle = "ブログ";
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    このブログは、私がプログラミングを学ぶ過程で学んだことや、気になったことを書いていく場所です。
  </p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
