---
const author = "ささきよ"
const authorIcon = "/author.jpg"
const authorIconAlt = "筆者: ささきよ"
---
<div class="flex py-2 items-center">
  <img
    class="w-10 h-10 rounded-full mr-4"
    src={authorIcon}
    alt={authorIconAlt}
  />
  <p class="font-bold">{author}</p>
</div>