---
import AnimationLink from "./AnimationLink.astro";
import { menuItems } from "../lib/config";

const { title } = Astro.props;
---
<header class="hidden max-w-5xl mx-auto md:flex justify-between items-center p-4">
  <h2 class="text-md font-bold">{title}</h2>
  <nav class="grid grid-cols-4 gap-8 items-center text-center">
    {menuItems.map(item => (
      <AnimationLink text={item.name} href={item.href}/>
    ))}
  </nav>
</header>