---
import AnimationLink from "./AnimationLink.astro";
---

<nav class="grid grid-cols-3 gap-8 text-center">
  <AnimationLink text="home" href="/" />
  <AnimationLink text="about" href="/about" />
  <AnimationLink text="tags" href="/tags" />
</nav>
