---
import AnimationLink from "./AnimationLink.astro";
import { menuItems } from "../lib/config";
---

<nav class="grid grid-cols-4 gap-8 text-center">
  {menuItems.map(item => (
    <AnimationLink text={item.name} href={item.href}/>
  ))}
</nav>
