---
const { title, url } = Astro.props;
const rightArrow = String.fromCharCode(8594);
---
<a href={url} class="flex items-center justify-end">
  <div class="text-right">
    <p class="text-xs text-gray-500 mb-2">次の記事</p>
    <p class="font-bold text-sm">{title}</p>
  </div>
  <div class="text-gray-500 ml-4">{rightArrow}</div>
</a>